include ./vars

block footer
    footer.footer
        .footer__container
            .footer__container-item
                .container-sm 
                    .row
                        +footers.col-md-2.co-sm-12
                h2 Copyright © 2020  · Are Shop · Log in
