include ./vars
block header
    header.header
        .header__menu 
            .header__menu-name-page Authority Pro 
            .header__menu-list
                span Menu 
                    i.ri-menu-line
                .header__menu-list-item 
                    +list(list)

        

        
                    
                    
                    

