- var list = ["Table","Chair","Cup"]
- var pagination = [1,2,3]
- var listSort = ['Price', 'Name']
- var popular = {'img1': 'Credit card','img2': 'Refinancerationing','img3': 'Alpha Account', 'img4': 'Mortgage of 4.99%', 'img5': 'Free of charge Alpha Card', 'img6': 'Account forinvestment'}
- var footers = ['facebook', 'twitter', 'instagram', 'linkedin', 'dribbble', 'youtobe']